
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }

}

.padding-up {
    padding-top: 30px;
}


#pagecontent {
    padding-bottom: 50px;
}


.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    color: #fff !important;
    font-family: Montserrat, sans-serif;
}

body {
    padding-top: 54px;
    background-color: #0E4749;
}

.footer-navbar {
    background-color: #002626 !important;
}

.search-card, .card-img-top {
    background-color: #E55812;
}

.side-card {
    background-color: #95C623;
}

.search-result {
    color:#07C;
    cursor: pointer;
}

.search-result:hover {
    text-decoration: underline;
}