body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(241, 241, 241);
}
#signup_form {
    padding-top: 20px;
    width: 45%;
    margin: 0 auto;
}
#signup_container {
    border: 1px groove; 
    padding: 30px;    
    background-color: white;
    margin: 0 auto;
    text-align: left;
}

.hidden {
    display: none;
}

.center {
    width: 50%; 
    margin: 0 auto;
}