<head>
    <link rel="stylesheet" href="/css/aboutStyles.css"/>
    <title>Link Sports- About</title>
</head>

<div class="row text-white text-center">
    <main class="col-md-12 bd-content" role="main">
        <div class="container">
            <div class="row">
                <img id="wall" src="/imagenes/sports-wallpapper.png" class="rounded mx-auto d-block">
            </div>
        </div>
        <h1 class="bd-title my-5" id="content">About</h1>
        <p class="bd-lead">LinkSports es una página dedicada a la búsqueda de atletas, entrenadores y equipos que buscan
            sponsors, para poder iniciar o
            seguir trabajando en su pasión.</p>

        <h2 id="team" class="my-3">
            <div>Sus Ideales<a class="anchorjs-link " href="#team" aria-label="Anchor" data-anchorjs-icon="#"
                               style="padding-left: 0.375em;"></a></div>
        </h2>

        <p>Darle a sus usuarios la posibilidad de seguir y ver la información de personas de su interés ya sea un
            entrenador buscando un
            nuevo atleta para su equipo o para entrenarlo en caso de deportes individuales, así como el tenis o la
            esgrima, como a su vez le
            permite a los atletas conseguir un entrenador y también averiguar si los equipos en los que quiere entrar
            estan reclutando.
        </p>

        <h2 id="history" class="my-3">
            <div>Su Objectivo<a class="anchorjs-link " href="#history" aria-label="Anchor" data-anchorjs-icon="#"
                                style="padding-left: 0.375em;"></a></div>
        </h2>

        <p>Hacer realidad los sueños de los deportistas que inician de llegar a vivir de lo que los apasiona.</p>

        <h2 id="quienes" class="my-3">
            <div>Quienes Somos?<a class="anchorjs-link " href="#quienes" aria-label="Anchor" data-anchorjs-icon="#"
                                  style="padding-left: 0.375em;"></a></div>
        </h2>

        <p>Se inició como una idea de proyecto de un grupo de estudiantes y con el paso del tiempo culminó en este sitio
            que apoya a aquellos que también quieren seguir su pasión</p>
        <p>Impulsor y fundador: Nicolas Ruiz</p>
        <p>Organización y co-fundadores: Lisa Romero, Dario Sanchez, Marcos Ibarra</p>
    </main>
</div>