<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Link Sports</title>

    <link href="/css/mainStyles.css" rel="stylesheet">

</head>

<div ng-controller="SearchController as buscador">
    <div class="row">
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 py-sm-4">

            <!-- Search Bar Card -->
            <div class="card my-4 side-card">
                <h5 class="card-header">Name</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="filterNombre"
                               placeholder="Buscar por nombre..">
                        <span class="input-group-btn input-group-prepend">
                            <button class="btn fas fa-search" type="button"></button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Sports Filters -->
            <div class="card my-4 side-card">
                <h5 class="card-header">Sports</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6" ng-repeat="lsdeportes in buscador.deportes">
                            <ul class="list-unstyled mb-0">
                                <li ng-repeat=" deporte in lsdeportes">
                                    <span class="search-result" ng-click="buscador.search(deporte)">{{deporte}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Search Results -->
        <div class="col-md-8 padding-up">

            <div class="row">
                <div class="col-md-4 col-sm-8" ng-repeat="user in buscador.resultados | filter:{nombre:filterNombre}">
                    <div class="card h-40 my-3 text-center search-card">
                        <a><img class="card-img-top w-75 mx-auto d-block" ng-src="{{buscador.imagenDe(user)}}"></a>
                        <div class="card-body">
                            <h5 class="card-title">{{user.nombre}} {{user.apellido}}</h5>
                            <p class="card-text">Deporte: {{user.deporte}}</p>
                        </div>
                        <div ng-controller="UserController" class="card-footer">
                            <button ng-if="isFollowing(user) == false" type="button" ng-click="follow(user)"
                                    class="btn btn-success">Seguir
                            </button>
                            <button ng-if="isFollowing(user) == true" type="button" class="btn btn-success disabled">
                                Siguiendo
                            </button>
                        </div>
                    </div>
                </div>
                <h4 class="text-white py-lg-4" ng-hide="buscador.hayResultados()">
                    No se han encontrado resultados de esa busqueda
                </h4>
            </div>
        </div>

    </div>

</div>