<div ng-controller="SearchController as buscador">
<!-- Navbar and logo -->
<nav class="navbar navbar-dark bg-dark">
    <div class="col-md-1">
        <a class="navbar-brand" href="#">
            <img src="../imagenes/linksports-logo.png" height="35">
        </a>
    </div>
    <form ng-submit="buscador.search()" class="col-md-3">
        <div class="form-row">
            <div class="col input-group">
                <input type="text" class="form-control" ng-model="buscador.deporte" placeholder="Deporte" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Buscar</button>
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-6">

    </div>
</nav>
<div class="container" style="padding-top: 5%">
    <div class="row">
        <div class="col-md-3" ng-repeat="user in buscador.resultados">
            <div class="card">
                <img class="card-img-top" src="../imagenes/profile.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{user.nombre}} {{user.apellido}}</h5>
                    <p class="card-text">{{user.tipo}}</p>
                    <p class="card-text">Deporte: {{user.deporte}}</p>
                </div>
                <div ng-controller="UserController" class="card-footer">
                    <button ng-if="isFollowing(user) == false" type="button" ng-click="follow(user)" class="btn btn-success">Seguir</button>
                    <button ng-if="isFollowing(user) == true" type="button" class="btn btn-success disabled">Siguiendo</button>
                </div>
            </div><br>
        </div>
    </div>
</div>

</div>