<!DOCTYPE html>
<html ng-app="LinkSports">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- <link href="css/style.css" rel="stylesheet"> -->
		<link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	</head>
	<body ng-controller="UserController">
	<!-- Navbar and logo -->
	<nav class="navbar navbar-dark bg-dark">
		<div class="col-md-5" style="padding-left: 20%">
			<a class="navbar-brand" href="#">
				<img src="linksports-logo.png" height="45">
			</a>
		</div>
		<form class="col-md-7">
			<div class="form-row">
				<div class="col">
					<input type="text" ng-model="username" class="form-control" placeholder="Usuario">
				</div>
				<div class="col">
					<input type="password" ng-model="password" class="form-control" placeholder="Constraseña">
				</div>
				<div class="col">
					<button ng-click="login()" class="btn btn-primary">Iniciar sesión</button>
				</div>
			</div>
		</form>
	</nav>
	<div class="container">
		<form class="col-md-4" style="padding-top: 5%">
			<div class="form-group">
				<label for="username_login">{{ userlabel }}</label>
				<input type="email" class="form-control" id="username_login" placeholder="Ingrese usuario">
			</div>
			<div class="form-group">
				<label for="password_login">Constraseña</label>
				<input type="password" class="form-control" id="password_login" placeholder="Ingrese constraseña">
			</div>
			<button type="submit" class="btn btn-primary">Registrarme</button>
		</form>
	</div>
	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/jquery/dist/jquery.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script src="js/UserController.js"></script>
	</body>
</html>